/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.select_inner {
    display: flex;
    justify-content: center;
    margin-bottom: 85px;

}


.btn-box {
    margin-bottom: 60px;
}

.btn-city {
    color: #fff;
    width: 100px;
    height: 38px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 40px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(10, 178, 237, 0.9220063025210083) 100%, rgba(5, 98, 180, 1) 100%);
    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
    transition: all 0.8s;
}

.btn-city:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.btn-city:active {
    background-color: #fff;
    background-size: 100%;
    transition: all 0s;
}

h1 {
    margin-bottom: 10px;
}

.weather_inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    margin: 0 auto;
    border: 3px solid #2c8bdd;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: rgba(0, 215, 255, .57);

}


.city-name {
    padding-top: 10px;
    padding-bottom: 5px;
    color: #090979;
    font-weight: bold;
    font-size: 22px;
}

.degrese {
    padding-bottom: 10px;
    color: #090979;
    font-size: 18px;
    font-weight: bold;
}

.clouds {
    color: #090979;
    font-size: 18px;
    font-weight: bold;
}

.other-features {}

.features {}

.btn {
    width: 120px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
    border: 2px solid #1e3650;
    border-radius: 22px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}

.btn:hover {}
